## Settings file was created by plugin LethalRichPresence v0.2.0
## Plugin GUID: LethalRichPresence

[Debugging]

## Enable debug logging.
# Setting type: Boolean
# Default value: true
Debug = true

[General]

## The Discord App ID for this game.
# Setting type: Int64
# Default value: 1184272051075305483
AppID = 1184272051075305483

[Party]

## Allow players to join your game from Discord.
# Setting type: Boolean
# Default value: true
AllowJoin = true

[Presence]

## The large image key for the rich presence.
# Setting type: String
# Default value: %&currentplanet%
LargeImage = %&currentplanet%

## The large image tooltip for the rich presence.
# Setting type: String
# Default value: %currentplanet%
LargeText = %currentplanet%

## The small image key for the rich presence.
# Setting type: String
# Default value: %&currentweather%
SmallImage = %&currentweather%

## The small image tooltip for the rich presence.
# Setting type: String
# Default value: %currentweather%
SmallText = %currentweather%

## The details of the rich presence.
# Setting type: String
# Default value: %quotacountifier% quota: %quota% (%collected% on ship)
ActivityDetails = %quotacountifier% квота: %quota% (%collected% собрано)

## The state of the rich presence.
# Setting type: String
# Default value: %timeleft% left, playing %onlineorlan%
ActivityState = %timeleft% прошло, играет %onlineorlan%

## Display number of players
# Setting type: Boolean
# Default value: true
ActivityPlayers = true

